body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  background-repeat: no-repeat;
  background-image: url(../public/assets/img/data_image_svg+xml\,….svg);
  background-position: 0 center;
  background-size: 200px auto;
  display: inline-block;
  width: 200px;
  height: 90px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}